th {
    font-size: 12px;
    font-weight: 400;
    padding: 2px !important;
}

td {
    font-size: 12px;
    font-weight: 100;
    padding: 2px !important;
}

.table {
    margin-bottom: 0;
    vertical-align: middle;
}

.verticalStability {
    color: tomato;
}


div.errorr {
    font-size: 11px;
    font-weight: 600;
    color: tomato;
    margin-top: -8px;
    line-height: 1;

}

span.errorrr {
    font-size: 12px;
    font-weight: 900;
    color: tomato;
}

span.transparent {
    color: #11ffee00;
}

.add-weather {
    margin-top: 15px;
}