.navbar-brand {
    font-weight: 900;
}

.title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    color: rgba(37, 34, 34, 0.55);
}

.header li {
    font-weight: 700;
    font-size: 14px;
}

@media (max-width: 420px) {
    .navbar-brand h1 {
        display: none;
    }
}

@media (max-width: 1270px) {
    menu {
        font-size: 45px !important;
    }
}

a[data-help] {
    position: relative;
    color: tomato !important;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1px;
    /* margin-right: 20px; */
}

a[data-help]:before {
    content: attr(data-help);
    display: none;
    position: absolute;
    top: 60%;
    margin-top: 5px;
    font-size: .8em;
    color: tomato;
    text-transform: none;
    white-space: nowrap;
    font-weight: normal;
}

a[data-help]:hover {
    color: #666DDC;
}

a[data-help]:hover:before {
    display: block;
}

a.nav-link.whats {
    color: #0d6efd !important;
}

@media screen and (max-width: 1180px) {
    a.nav-link {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 1130px) {
    a.nav-link {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1085px) {
    a.nav-link {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1034px) {
    a.nav-link {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 991px) {
    a.nav-link {
        font-size: 13px !important;
    }
}